
<div class="comments">
<h1 class="comments-title">Feedback section</h1>
<a class="back-feed" href="/feed/funny/best">Back to Feed</a>

{{#each comment}}
<div class="comment">
<h2 class="comment-author">{{userid.username}}</h2>
<h1 class = "comment-content">{{content}}</h1>
</div>
{{/each}}

<form class="comment-form" action="/comments/{{ident}}" method = "POST">
  <input class = "comment-input" type="text" name= "content" id="content" placeholder="Give feedback about this line ;)">
  <button type="submit"> send </button>
</form>

</div>