<div class="post-new">
  
  <form action="/new" method="post">
  
    <input id="new-line-input" type="text" name="content" id="content" placeholder="Type your best pickup line here !">

    <select name="category" id="category">
      <option value="funny">Funny</option>
      <option value="tinder">Tinder</option>
      <option value="cute">Cute</option>
      <option value="smart">Smart</option>
    </select>
    <button type="submit">Post New Pickup Line</button>
  </form>
  <a class ="back-feed" href="/feed/funny/best">Back to Feed</a>
</div>